<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547549652720-n8v75lf20ko15knpc81m32vdfirpqgr3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547549652720-n8v75lf20ko15knpc81m32vdfirpqgr3</string>
	<key>API_KEY</key>
	<string>AIzaSyBiCF4byogFCX0y5h6A04mboLXqgKA03qk</string>
	<key>GCM_SENDER_ID</key>
	<string>547549652720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thanhvu.test</string>
	<key>PROJECT_ID</key>
	<string>demoapp-7e572</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-7e572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547549652720:ios:13703c1c584b3351db8435</string>
</dict>
</plist>